xterm*locale: true
xterm*saveLines: 4096
xterm*metaSendsEscape: true
xterm*visualBell: false
xterm*faceName: Hack
XTerm*font: 7x13
xterm*faceSize: 10
xterm*background: black
xterm*foreground: white
xterm*scaleHeight: 0

XTerm*selectToClipboard: true
